
.slick-slider {
    cursor: grab !important;
}

.slick-dots {
    bottom: -5rem !important;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    font-size: 1.5rem !important;
    opacity: 0.5 !important;
}

.slick-dots li button:before {
    color: rgb(234, 41, 30) !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
}
